.avatar-upload {
  position: relative;
  cursor: pointer;

  .avatar {
    border-radius: 50%;
  }

  .btn-edit {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    display: flex;
    font-size: 0.8em;
    color: #8f9bb3;
    background-color: #ffffff;
    border: 1px solid #d0d7de;
    border-radius: 6px;
  }

  .file-input {
    display: none;
  }
}
