@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  // Hide register link
  nb-login {
    .another-action {
      display: none;
    }
  }
  nb-request-password-page {
    .sign-in-or-up p:last-child {
      display: none;
    }
  }

  nb-logout {
    text-align: center;
  }
}
