<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Security Operations - application name
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="calendar-select">
      <nb-form-field>
        <nb-icon nbPrefix icon="calendar-outline"></nb-icon>
        <nb-select [(selected)]="selected" placeholder="Select">
          <nb-option value="1">24 hrs</nb-option>
          <nb-option value="2">1 hr</nb-option>
          <nb-option value="3">12 hrs</nb-option>
        </nb-select>
      </nb-form-field>
    </nb-action>

    <nb-action>
      <nb-form-field>
        <nb-select [(selected)]="selectedView" placeholder="Select View">
          <nb-option value="1">Cybersecurity View</nb-option>
          <nb-option value="2">Management View</nb-option>
          <nb-option value="3">Development View</nb-option>
        </nb-select>
      </nb-form-field>
    </nb-action>

    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu" [nbContextMenuTag]="MENU_TAG" [onlyPicture]="userPictureOnly"
        [name]="user?.name" [picture]="user?.avatar">
      </nb-user>
      <button nbButton ghost status="danger" (click)="handleLogout()"><nb-icon icon="log-out-outline"></nb-icon></button>
    </nb-action>
  </nb-actions>
</div>
